html, body {  height: 100%;  width: 100%;  font-family: 'Open Sans', sans-serif;}a {  color: #f66;}a:hover {  color: #f99;}main {  height: 100%;  width: 100%;}section {
  display: table;
  table-layout: fixed;  height: 100%;  width: 100%;
  overflow: hidden;  color: #fff;  background-color: #444;
  position: relative;}section > div, section > aside {
  width: 50%;
  display: table-cell;
  padding: 4rem 4vh;
  vertical-align: middle;
  box-sizing: border-box;}

section > aside {
  text-align: right;  font-size: 0;
}

section > div:not(:last-child) {
  width: 50%;
}section > div > *:first-child {  margin-top: 0;}.center {  text-align: center;}h1 {  font-family: 'Ubuntu', sans-serif;}#front h1 {  font-size: 4em;}#front {  background-color: #06e;}#skills {  background-color: #242;  background-image: url(../img/sql.svg);  background-repeat: no-repeat;}#web {  background-color: #066;  background-image: url(../img/js.svg);  background-repeat: no-repeat;}#game {  background-color: #1a1a1a;}#contact {  background-color: #a00;}#front h1 {  text-shadow: 2px 2px 0px #338;}.present {
  display: inline-block;
  border-radius: 8px;  box-shadow: 2px 2px 4px #333;}#front {  position: relative;  z-index: 2;}#nav {  position: absolute;  left: 0;  bottom: 1em;  width: 100%;  z-index: 4;  text-align: center;  text-transform: lowercase;  font-family: 'Ubuntu';  font-size: 0.9em;}#nav ul {  color: #e8e8e8;  list-style-type: none;  overflow: hidden;  padding: 0 1em;
  margin: 0;}#nav ul li {  display: inline;}#nav ul li a {  display: inline-block;  color: inherit;  text-decoration: none;
  line-height: initial;
  border-bottom: 1px solid transparent;}#nav ul li a:hover {  color: #f8f8f8;}#nav ul li:not(:last-child)::after {  content: '\a0\b7\a0';}

object {
  display: inline-block;
  max-height: 100%;
}